*~
*\#*

*.a
*.o
*.plist
*.so

build/

llarpd
*.test
*.bin

*.ninja
cmake_install.cmake
CMakeFiles
CMakeCache.txt
.ninja_log
.ninja_deps

callgrind.*
.gdb_history

*.sig
*.signed
*.key

shadow.data
shadow.config.xml
*.log
*.pdf
*.xz

testnet_tmp


*.pid
vsproject/
.vs

daemon.ini
coiniclesnet-win32.exe
coiniclesnet
coiniclesnet.exe


.gradle/
.idea
.vscode
build64/
build2/
/contrib/coiniclesnet-bootstrap-winnt/cacert.pem
/contrib/coiniclesnet-bootstrap-winnt/data.enc
/contrib/coiniclesnet-bootstrap-winnt/out.bine
default.profraw

# ctags shit
GTAGS
GRTAGS
GPATH
version.txt

coiniclesnet-bootstrap.exe
regdbhelper.dll
# xcode
xcuserdata/

