[Unit]
Description=CoiniclesNET: Anonymous Network layer thingydoo.
Wants=network-online.target
After=network-online.target

[Service]
User=debian-coiniclesnet
SyslogIdentifier=coiniclesnet
ExecStartPre=/bin/bash -c "/usr/bin/coiniclesnet-bootstrap && /usr/bin/coiniclesnet -g"
ExecStart=/usr/bin/coiniclesnet
Restart=always

[Install]
WantedBy=multi-user.target